---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/global/Navbar.astro';
import Footer from '../components/global/Footer.astro';

interface Props {
  title: string;
  description?: string;
  courseName: string;
}

const { title, description, courseName } = Astro.props;
---
ES

<BaseLayout title={title} description={description}>
  <Navbar courseName={courseName} />
  <main>
    <slot />
  </main>
</BaseLayout>
